index.php
protected/runtime
protected/archivos
/vendor
assets
composer.lock
error_log
.DS_Store
protected/.DS_Store
protected/config/main.php
protected/controllers/RCamionArrendadoController.bak.php
protected/views/rCamionArrendado/camionesArrendados.bak.php
